# Variables de Entorno para la Landing Page
# Copia este archivo y renómbralo a ".env" (sin el .example)

# Clave de la API Data v3 de YouTube (Consíguela en Google Cloud Console)
VITE_YOUTUBE_API_KEY=tu_api_key_aqui

# ID de tu canal de YouTube (Puedes encontrarlo en la configuración avanzada de tu canal)
VITE_YOUTUBE_CHANNEL_ID=tu_channel_id_aqui
